svg-frame {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    align-self: center;
}

body.animating svg-frame * {
    cursor: default;
}

#root {
    width: 100vw;
    height: 100vh;
}

#g {
    transition: transform 1s;
}

svg {
    overflow: auto;
}

.interactive-rect {
    transition: .2s;
    cursor: pointer;
}

.overlaid-station {
    pointer-events: none;
    transition: all .1s;
}

.overlaid-station:not(.active) {
    fill: #444;
    transition: transform .1s, fill .4s ease-in;
}

.overlaid-station.center {
    fill: white;
}

.station-bars {
    transform: rotate(45deg)
}

.station-text {
    fill: #666;
    cursor: default;
    user-select: none;
}

.station-text.zh-cn {
    font-size: 8px;
    font-weight: bold;
}

.station-text.en-us {
    font-size: 5px;
    font-weight: 700;
}

.g-lines-ambient {
    opacity: 0.06;
}

.g-voronoi-clouds, .voronoi-lines {
    pointer-events: none;
    display: none;
}

body.light-background .overlaid-station.center {
    fill: white;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .4));
}

body.light-background .station-text {
    fill: #ddd;
}

body.light-background .overlaid-station:not(.active) {
    fill: #ddd;
}
