.left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.light-background .left-col {
    filter: invert(0.77);
}

.title {
    font-family: 'Tabular', 'Inter', sans-serif;
    font-size: 120px;
    width: 200px;
    font-weight: 900;
    color: #ffffff;
    z-index: -1;
    text-transform: uppercase;
    letter-spacing: -10px;
    line-height: 0.8;
    cursor: pointer;
    user-select: none;
}

.title .row {
    width: 520px;
    pointer-events: none;
}

.title hr {
    display: block;
    width: 40px;
    height: 17px;
    background: white;
    margin: 10px 0 0 8px;
    border: none;
}

.title .additional {
    transition: all .3s cubic-bezier(0,.87,.2,1);
    transform: rotateY(90deg) rotateZ(-4deg);
    transform-origin: left;
    opacity: 1;
    display: inline-block;
}

.title:hover .additional {
    transition: all 2s cubic-bezier(0,.87,.2,1);
    opacity: 1;
    transform: rotateY(0);
    transform-origin: left;
}

#reset {
    display: inline-block;
    cursor: pointer;
    transition: all .4s;
    width: 100px;
}

#reset:hover img {
    transform: rotate(-70deg);
}

#reset:active img {
    transform: rotate(-70deg) scale(0.88);
    opacity: 0;
}

#reset img {
    width: 100px;
    display: inline-block;
    transition: all .4s;
}
